{% extends 'mainapp/layouts/app.html' %}
{% load static %}
{% block content %}
    <div class="frame">
        <div class="content main">
            <div class="main_left">
                <div class="main_left_slider"
                     style="background: linear-gradient(180deg, rgba(48, 48, 48, 0) 0%, #303030 100%), url('{% static 'images/slider-image1.jpg' %}') top no-repeat; background-size: cover">
                    <div class="main_left_slider_title h1">ДВИЖЕНИЕ ФУДШЕРИНГ</div>
                    <div class="main_left_slider_info">
                        <div class="main_left_slider_info-text">
                            Присоединяйтесь и помогайте нам спасать пригодные продукты от выбрасывания
                        </div>
                        <a href="{% url 'authapp:login' %}">
                            <div class="main_left_slider_info-button">
                                присоединиться
                            </div>
                        </a>
                    </div>
                </div>

                <div class="main_left_info">
                    <div class="main_left_info-title h1 big-title">
                        Фудшеринг
                    </div>
                    <div class="main_left_info-text">
                        экологическое движение, которое помогает организациям перестать выбрасывать еду,
                        а людям – получать её бесплатно и помогать другим.
                    </div>
                </div>
            </div>
            <div class="main_right">
                <div class="main_right_title">
                    <div class="main_right_title-text h1 big-text">
                        Интересная статистика
                    </div>
                    <hr>
                </div>
                <div class="main_right_statistic-cards">
                    <div class="main_right_statistic-card">
                        <div class="main_right_statistic-card_title">Спасено еды за неделю:</div>
                        <div class="main_right_statistic-card_info">
                            <div class="main_right_statistic-card_info_image" style="background: linear-gradient(180deg, rgba(48, 48, 48, 0) 0%, #303030 100%), url('{% static 'images/statistic/pack.jpg' %}')  top no-repeat; background-size: cover"></div>
                            <div class="main_right_statistic-card_info_text h1">10кг</div>
                        </div>
                    </div>
                    <div class="main_right_statistic-card">
                        <div class="main_right_statistic-card_title">Волонтёров участвует:</div>
                        <div class="main_right_statistic-card_info">
                            <div class="main_right_statistic-card_info_image" style="background: linear-gradient(180deg, rgba(48, 48, 48, 0) 0%, #303030 100%), url('{% static 'images/statistic/voulonteir.jpg' %}')  top no-repeat; background-size: cover"></div>
                            <div class="main_right_statistic-card_info_text h1">1472</div>
                        </div>
                    </div>
                    <div class="main_right_statistic-card">
                        <div class="main_right_statistic-card_title">Спасено еды за год:</div>
                        <div class="main_right_statistic-card_info">
                            <div class="main_right_statistic-card_info_image" style="background: linear-gradient(180deg, rgba(48, 48, 48, 0) 0%, #303030 100%), url('{% static 'images/statistic/prods.jpeg' %}')  top no-repeat; background-size: cover"></div>
                            <div class="main_right_statistic-card_info_text h1">90 тонн </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="frame white_frame">
        <div class="content pre_footer">
            Фудшеринг существует в <b>Москве</b> и <b>Санкт-Петербурге</b> с 2015 года. Мы вывозим непроданную вовремя, но еще пригодную еду и распределяем ее тем, кому она нужна. Мы изучили европейский опыт фудшеринга и предлагаем компаниям экологично и с пользой избавиться от пищевой продукции, которую нельзя реализовать, и вместе с нами помогать людям и всей планете.
        </div>
    </div>
{% endblock %}