{% extends 'mainapp/layouts/app.html' %}
{% load static %}
{% block content %}
<div class="frame">
    <div class="content form_content">

        <form method="post" action="{% url 'authapp:login' %}" class="form register_form">

            {% csrf_token %}
            <div class="form-title">
                <div class="form-title_text h1">Вход</div>
                <div class="form-title_step h1">Фудшеринг</div>
            </div>
            <div class='input-field'>
                <label for="id_username">Имя пользователя:</label>
                <input type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" class="form-control username" required="" id="id_username">
            </div>
            <div class='input-field'>
                <label for="id_password">Пароль:</label>
                <input type="password" name="password" autocomplete="current-password" class="form-control password" required="" id="id_password">
            </div>

            <div class="register_form_buttons">
                <a href="{% url 'authapp:register' %}" style="text-decoration: none"><div class="button button_back_step"> Регистрация</div></a>
                <div class="button button_register">Войти</div>
                <button class="true_button_register" hidden>Войти</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}