{% load static %}

<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Подключение шрифтов   -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Raleway:wght@400;500;700&display=swap"
          rel="stylesheet">
    <!-- Подключение стилей   -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    <!--    -->
    <script src="{% static 'js/script.js' %}"></script>

    <title>Фудшеринг</title>
</head>
<body>
<!-- Меню TODO: можно сделать отдельным модулем для удобства   -->
<div class="menu">
    <div class="content  menu_content">
        <div class="menu_left">
            <a href="{% url 'mainapp:index' %}"><div class="menu_left_logo"></div></a>
        </div>
        <div class="menu_right">
            <div class="menu_right_li"><a href="{% url 'mainapp:about' %}">о нас</a></div>
            <div class="menu_right_li"><a href="{% url 'mainapp:organizations' %}">организациям</a></div>
            <div class="menu_right_li"><a href="{% url 'mainapp:participants' %}">участникам</a></div>
            <div class="menu_right_li  statistic_button"><a href="#">статистика</a></div>
            {% if not user.is_authenticated %}
                <div class="menu_right_li"><a href="{% url 'authapp:register' %}">регистрация</a></div>
                <div class="menu_right_li"><a href="{% url 'authapp:login' %}">вход</a></div>
            {% else %}
                <div class="menu_right_li"><a href="{% url 'mainapp:cabinet' %}">{{ request.user.first_name }}</a></div>
                <div class="menu_right_li"><a href="{% url 'authapp:logout' %}">Выйти</a></div>
            {% endif %}

        </div>
    </div>
</div>

<!-- Блок контента  -->
{% block content %}

{% endblock %}


<!-- Подвал TODO: можно сделать отдельным модулем для удобства   -->
<div class="footer">
    <div class="content footer_content">
        <div class="footer_item footer_left">
            <span>©2015-2021. АНО "Фудшеринг".</span>
            <span>При использовании материалов ссылка на сайт обязательна.</span>
        </div>
        <div class="footer_item footer_right">
            <a href="#"><div class="social_logo" style="background: url('{% static 'icons/footer/vk.svg' %}') center no-repeat; background-size: cover"></div></a>
            <a href="#"><div class="social_logo" style="background: url('{% static 'icons/footer/inst.svg' %}') center no-repeat; background-size: cover"></div></a>
            <a href="#"><div class="social_logo" style="background: url('{% static 'icons/footer/tt.svg' %}') center no-repeat; background-size: cover"></div></a>
            <a href="#"><div class="social_logo" style="background: url('{% static 'icons/footer/fb.svg' %}') center no-repeat; background-size: cover"></div></a>
            <a href="#"><div class="social_logo" style="background: url('{% static 'icons/footer/yt.svg' %}') center no-repeat; background-size: cover"></div></a>
        </div>
    </div>
</div>
</body>
</html>