{% extends 'mainapp/layouts/app.html' %}
{% load static %}
{% block content %}
    <div class="frame white_frame">
        <div class="content cabinet_frame">

            <div class="md-title h1">Координатор - <span class="marked-text">{{ request.user.first_name }} </span></div>
            <br>
            <a href="{% url 'mainapp:create_group' %}" class="button">Создать группу</a>
            {% for item in group %}
                <h3>Название: {{ item.name }} | <a href="{% url 'mainapp:edit_group' item.id %}">Изменить</a> | <a
                        href="{% url 'mainapp:delete_group' item.id %}">Удалить</a></h3>
                <ul>
                    {% for volonters in item.users_volonter.all %}
                        <li>Имя: {{ volonters.first_name }}, Фамилия: {{ volonters.last_name }}</li>
                    {% endfor %}
                </ul>
            {% endfor %}
        </div>
    </div>
{% endblock %}
