{% extends 'mainapp/layouts/app.html' %}
{% load static %}
{% block content %}
    <div class="frame">
        <div class="content cabinet_frame">

            {% if request.user.confirm %}

                {% if group %}
                    <div class="cabinet_title md-title h1">Волонтёр - <span
                            class="marked-text"> {{ request.user.first_name }} {{ request.user.last_name }}</span></div>
                    <div class="cabinet_menu">
                        <div class="cabinet_menu-item h1"> Личные данные</div>
                        <div class="cabinet_menu-item h1 active">Группа</div>
                        <div class="cabinet_menu-item h1"> Нерешенные вопросы</div>
                    </div>
                    <div class="cabinet-group">
                        <div class="cabinet-group_title sm-title h1">Твоя группа:</div>
                        {% for item in group %}
                            <div class="cabinet-group_content">
                                <div class="cabinet-group_content-coord">
                                    <div class="cabinet-group_content_coord-image"
                                         style="background:linear-gradient(180deg, rgba(48, 48, 48, 0.5) 0%, #303030 100%), url('{% static 'images/user.png' %}') center no-repeat; background-size: cover">
                                        Координатор
                                    </div>
                                    <div class="cabinet-group_content_coord-info">
                                        <div class="cabinet-group_content_coord-name">
                                            {{ item.user_coordintator.first_name }} {{ item.user_coordintator.last_name }}
                                        </div>
                                        <div class="cabinet-group_content_coord-phone">+7 (999) 5005353</div>
                                    </div>
                                </div>
                                <div class="cabinet-group_content-vol">
                                    <div class="cabinet-group_voloneurs">
                                        {% for volonters in item.users_volonter.all %}
                                            <div class="cabinet-group_voloteur ">
                                                <div class="cabinet-group_voloteur_image sm-text"
                                                     style="background:linear-gradient(180deg, rgba(48, 48, 48, 0.5) 0%, #303030 100%), url('{% static 'images/user.png' %}') center no-repeat; background-size: cover">
                                                    волонтёр
                                                </div>
                                                <div class="cabinet-group_voloteur_info">
                                                    {{ volonters.first_name }} {{ volonters.last_name }}
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <div class="cabinet-group_buttons">
                                        <div class="cabinet-group_buttons_row">
                                            <div class="button cabinet_button button_black">Получить акт <br>приёмки-передачи
                                            </div>
                                            <div class="button cabinet_button">
                                                беседа в Telegram
                                                <svg width="12" height="12" viewBox="0 0 12 12" fill="none"
                                                     xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M1.33333 0C0.604625 0 0 0.604625 0 1.33333V10.6667C0 11.3954 0.604625 12 1.33333
                                                        12H10.6667C11.3954 12 12 11.3954 12 10.6667V6H10.6667V10.6667H1.33333V1.33333H6V0H1.33333ZM7.33333 0V1.33333H9.72396L3.52865
                                                        7.52865L4.47135 8.47135L10.6667 2.27604V4.66667H12V0H7.33333Z"
                                                          fill="#303030"/>
                                                </svg>
                                            </div>
                                            <div class="button cabinet_button button_black">Загрузить акт приёма</div>
                                        </div>
                                        <div class="cabinet-group_buttons_row">
                                            <div class="button cabinet_button button_green">Замениться</div>
                                            <div class="button cabinet_button button_black">
                                                <form method="post" enctype="multipart/form-data">
                                                    {% csrf_token %}
                                                    {{ form.as_p }}
                                                    <button type="submit">Upload</button>
                                                </form>
                                                Загрузить акт приёма
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="cabinet-group_content">
                                <div class="cabinet-group_content-coord">
                                    <div class="cabinet-group_content_group-statistic">
                                        <div class="cabinet-group_content_statistic-title h1">Статистика группы:</div>
                                        <div class="cabinet-group_content_statistic-info">
                                            <div class="cabinet-group_content_statistic_row">
                                                <div class="md-text">Выполнено заказов:</div>
                                                <div class="main_right_statistic-card_info_text h1">20</div>
                                            </div>
                                            <div class="cabinet-group_content_statistic_row">
                                                <div class="md-text">Спасено продуктов:</div>
                                                <div class="main_right_statistic-card_info_text h1">132 кг</div>
                                            </div>
                                            <div class="cabinet-group_content_statistic_row">
                                                <div class="md-text">За неделю:</div>
                                                <div class="main_right_statistic-card_info_text h1">32 кг</div>
                                            </div>
                                            <div class="cabinet-group_content_statistic_row">
                                                <div class="md-text">Нарушений:</div>
                                                <div class="main_right_statistic-card_info_text h1">0</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="cabinet-group_content-vol"></div>
                            </div>
                        {% endfor %}

                    </div>
                {% else %}
                    <div class="md-title h1">Волонтёр - <span
                            class="marked-text"> {{ request.user.first_name }} {{ request.user.last_name }} </span>
                    </div>
                    <div class="sm-title" style="margin: 20px 0"> Поздравляем, теперь вы <span
                            class="h1">волонтёр</span> !
                    </div>
                    <div class="big-text"> Вас пока что не добавили в группу, придётся немного подождать, и ваш новый
                        координатор вас найдёт!
                    </div>
                {% endif %}
            {% else %}
                <div class="cabinet_after-regist">
                    <div class="cabinet_after-regist_title">
                        <div class="sm-title h1">Поздравляем с регистрацией!</div>
                        <div class="h1">Теперь вам доступно прохождение курса волонтёра Фудшеринга!</div>
                    </div>
                    <a href="{% url 'authapp:confirm_user' request.user.id %}">
                        <div class="cabinet_after-regist_button"> Начать обучение!</div>
                    </a>
                    <div class="cabinet_after-regist_text">Пройдите обучающий курс и успешно ответьте на 12 вопросов для
                        того чтобы стать волонтёром Фудшеринга
                    </div>
                    <div class="cabinet_after-regist_text big-text h1">Почему быть волонтёром это хорошо?</div>
                    <div class="cabinet_after-regist_pluses">
                        <div class="cabinet_after-regist_plus">

                            <div class="cabinet_after-regist_plus_image">
                                <svg width="50" height="50" viewBox="0 0 50 50" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <rect y="18" width="50" height="14" fill="#31D6AE"/>
                                    <rect x="32" width="50" height="14" transform="rotate(90 32 0)" fill="#31D6AE"/>
                                </svg>

                            </div>

                            <div class="cabinet_after-regist_plus_title big-text h1"> ПЕРВЫЙ ПЛЮС</div>
                            <div class="cabinet_after-regist_plus_text">
                                Обьяснение почему это плюс а не минус, и возможно почему это важно, если на то есть
                                нужда
                            </div>
                        </div>
                        <div class="cabinet_after-regist_plus">
                            <div class="cabinet_after-regist_plus_image">

                                <svg width="57" height="56" viewBox="0 0 57 56" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <rect x="7" y="24" width="50" height="14" fill="#515151"/>
                                    <rect x="39" y="6" width="50" height="14" transform="rotate(90 39 6)"
                                          fill="#515151"/>
                                    <rect y="18" width="50" height="14" fill="#31D6AE"/>
                                    <rect x="32" width="50" height="14" transform="rotate(90 32 0)" fill="#31D6AE"/>
                                </svg>
                            </div>
                            <div class="cabinet_after-regist_plus_title big-text h1">ВТОРОЙ ПЛЮС</div>
                            <div class="cabinet_after-regist_plus_text">
                                Обьяснение почему это плюс а не минус, и возможно почему это важно, если на то есть
                                нужда
                            </div>
                        </div>
                        <div class="cabinet_after-regist_plus">
                            <div class="cabinet_after-regist_plus_image">

                                <svg width="64" height="61" viewBox="0 0 64 61" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <rect x="14" y="29" width="50" height="14" fill="#515151"/>
                                    <rect x="46" y="11" width="50" height="14" transform="rotate(90 46 11)"
                                          fill="#515151"/>
                                    <rect x="7" y="24" width="50" height="14" fill="#36826F"/>
                                    <rect x="39" y="6" width="50" height="14" transform="rotate(90 39 6)"
                                          fill="#36826F"/>
                                    <rect y="18" width="50" height="14" fill="#31D6AE"/>
                                    <rect x="32" width="50" height="14" transform="rotate(90 32 0)" fill="#31D6AE"/>
                                </svg>

                            </div>
                            <div class="cabinet_after-regist_plus_title big-text h1">ТРЕТИЙ ПЛЮС</div>
                            <div class="cabinet_after-regist_plus_text">
                                Обьяснение почему это плюс а не минус, и возможно почему это важно, если на то есть
                                нужда
                            </div>
                        </div>
                    </div>

                </div>
            {% endif %}

        </div>
    </div>
{% endblock %}
