
body {
    margin: 0;
    background: #F4F4F4;
    color: #303030;
    font-family: "Raleway", sans-serif;
}

div, input {
    box-sizing: border-box;
}

pre {
    font-family: "Raleway", sans-serif;
}

.h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
}

.marked-text {
    padding: 10px;
    background: #F4F4F4;
}

.color-text {
    color: #31D6AE;
}

.dis_block {
    display: block;
}
.dis_none {
    display: none;

}

.big-title {
    font-size: 72px;
}

.md-title {
    font-size: 56px;
}

.sm-title {
    font-size: 32px;
}

.big-text {
    font-size: 18px;
}
.md-text {
    font-size: 14px;
}
.sm-text {
    font-size: 12px;
}

.button {
    width: 170px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F4F4F4;
    cursor: pointer;
    transition: 200ms;
    text-decoration: none;
    color: #484848;
}

.menu {
    width: 100%;
    background: #484848;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.menu_content, .footer_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu_left_logo {
    height: 50px;
    width: 100px;
    background: #31D6AE;
}

.menu_right {
    width: 600px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #F4F4F4;
}

.menu_right_li a {
    text-decoration: none;
    color: #F4F4F4;
}

.statistic_button {
    box-sizing: content-box;
    border: 2px solid #F4F4F4;
    padding: 10px 20px;
}

.footer {
    position: fixed;
    bottom: 0;
    height: 100px;
    width: 100%;
    background: #484848;
    color: #F4F4F4;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;

}

.footer_item {
    display: flex;
}
.footer_left {
    flex-direction: column;
}

.social_logo {
    margin-left: 20px;
    width: 35px;
    height: 35px;
    transition: 100ms ease-out;
}
.social_logo:hover {
    transform: scale(1.2, 1.2);
}



.frame {
    width: 100%;
    display: flex;
    justify-content: center;
}

.content {
    width: 960px;
}

.main {
    display: flex;
    justify-content: space-between;
}

.main_left {
    width: 640px;
    height: 525px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.main_left_slider, .main_right, .main_left_info  {
    padding: 30px;
}
.main_left_slider {
    padding-top: 150px;
    height: 330px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #F4F4F4;
}

.main_left_slider_title {
    font-size: 36px;
}

.main_left_slider_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.main_left_slider_info a {
    color: #303030;
    text-decoration: none;
}

.main_left_slider_info-text {
    width: 60%;
}
.main_left_slider_info-button {
    width: 170px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F4F4F4;
}

.main_left_info {
    width: 100%;
    height: 165px;
    background: #fff;
}

.main_left_info-title {
    margin-top: -20px;
}

.main_right {
    width: 290px;
    height: 525px;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    background: #fff;
}

/*РЕГИСТРАЦИЯ ВОЛОНТЁРА ИЛИ КООРДИНАТОРА*/

.checkbox-field input {
    border-radius: 0;
}
.register_form {
    width: 540px;
    background: #ffffff;
    padding: 30px;
}

.form-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 36px;
    margin-bottom: 20px;
}
.form-title_step {
    color: #a1a1a1;
}

.input-field {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
.input-field label{
    width: 30%;
    height: 30px;
}
.input-field input, .status{
    width: 65%;
    height: 30px;
}
.checkbox-field {
    justify-content: flex-end;

}
.checkbox-field label{
    width: 65%;
    height: 30px;
    display: flex;
    align-items: center;
}
.checkbox-field input{

    display: flex;
    align-items: center;
    width: 30px;
    height: 30px;
    margin: 5px 20px 5px 0 ;
}

.input-hint {
    color: #238765;
    font-weight: bold;
    font-size: 12px;
    margin: -25px 0 15px;
}

.form_content {
    display: flex;
    justify-content: center;
    align-items: center;
}
.register_form_buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button_next_step {
    background: #31D6AE;
}

.button_reset, .button_back_step {
    color: #a1a1a1;
}

.already_exist {
    margin: 20px 0;
}
.already_exist a{
    color: #31D6AE;
}

.button_register {
    width: 200px;
    background: #31D6AE;
}


.button_register:hover, .button_next_step:hover {

    background: #3ef0ae;
}
.button_register:active, .button_next_step:active {
    background: #2db589;

}

/* Личный кабинет */
/* после регистрации, до прохождения курсов*/

.cabinet_after-regist {
    margin: 20px 0 0 0 ;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cabinet_after-regist_title {

    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.cabinet_after-regist_button {
    margin: 50px 0;
    width: 270px;
    height: 80px;
    background: #31D6AE;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F4F4F4;
    font-family: "Montserrat", sans-serif;
}

.cabinet_after-regist_text {
    margin-bottom: 20px;
}
/* после прохождения курсов*/
.cabinet_frame {
    background: #ffffff;
    padding: 30px;
}

.cabinet_menu {
    width: 100%;
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabinet_menu-item {
    width: 260px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F4F4F4;
    cursor: pointer;
}

.cabinet_menu-item.active {
    background: #31D6AE;
}

.cabinet-group_title {
    margin-bottom: 10px;
}

.cabinet_after-regist_pluses {
    margin-top: 20px;
    width: 600px;
    display: flex;
    justify-content: space-between;
}

.cabinet_after-regist_plus {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cabinet_after-regist_plus > * {
    width: 170px;
    margin-bottom: 20px;
}
.cabinet_after-regist_plus_image {
    display: flex;
    justify-content: center;
    align-items: center;
}